deb http://mirrors.sohu.com/debian/ {{ grains['oscodename'] }} main non-free
deb-src http://mirrors.sohu.com/debian/ {{ grains['oscodename'] }} main non-free

#deb http://security.debian.org/ squeeze/updates main
#deb-src http://security.debian.org/ squeeze/updates main

#deb http://volatile.debian.org/debian-volatile squeeze/volatile main
#deb-src http://volatile.debian.org/debian-volatile squeeze/volatile main

#deb http://mirrors.sohu.com/debian testing main contrib non-free
