{% set domains = {
    'hdtr.com': ['10.24.6', '192.168.8.', '192.168.9', '192.168.10', '192.168.11.', '192.168.12.', '192.168.13.', '192.168.14.', '192.168.201.', '192.168.31.', '192.168.32.', '172.17.'],
    'bqj.hdtr.com': ['172.31.', '10.121.']
%}

_hosts:
  hosts.present:
{% if grains['ipv4'][1] in domains['hdtr.com'] %}
    - ftp01: 192.168.31.245
    - squid: 192.168.31.246
    - ntp: 192.168.11.10
    - ns1: 192.168.12.30
    - ns2: 192.168.12.31
#    - domain: hdtr.com
#{% elif grains['ipv4'][1] in domains['bqj.hdtr.com'] %}
{% else %}
  - ftp01: 10.24.4.4
  - ntp: 10.24.4.10
  - squid: 10.24.4.3
  - ns1: 10.24.4.85
  - ns2: 10.24.4.95
{% endif %}

#{% for cidr in cidr_list1 %}
#{% if not grains['ipv4'][0].startswith(cidr) and not grains['ipv4'][1].startswith('127.0.0.1') %}
#_hosts:
#{% endif %}
#{% endfor %}
