#! /bin/sh
SOURCE=/var/cache/apt/archives
DEST=/media/sda7/Backup/Ubuntu/Packages
cd $SOURCE
for name in $(ls *.deb);
do
cd $DEST
rm $(dpkg --info $SOURCE/$name | grep Package: | sed 's/Package://')_*
mv $SOURCE/$name $DEST/
cd $SOURCE
done

cd $DEST
cd ..
dpkg-scanpackages Packages hardy | gzip > dists/hardy/main/binary-amd64/Packages.gz
