{% set PXE = '192.168.11.8' %}
{% set OS = 'CentOS' %}
{% set VER='6.5' %}
{% set ARCH='x86_64' %}
{% set ROLE='minimal' %}
{% set FAMILY = 'RedHat' %}

title Install {{ OS }} {{ VER }} {{ ARCH }} {{ ROLE }}
root (hd0,0)
kernel /tmp/vmlinuz salt=yes arch={{ ARCH }} cmk=yes ks=http://{{ PXE }}/pxe/ks/template/Linux/{{ FAMILY }}/{{ ROLE }}-{{ OS }}-{{ VER }}.ks
initrd /tmp/initrd.img
