$def with (unattend)
<?xml version="1.0"?>
<!-- home:${unattend['home']} -->
<!-- ip:${unattend['ip']} -->
<!-- path:${unattend['path']} -->
<!-- os:${unattend['os']} -->
<!-- version:${unattend['version']} -->
<!-- arch:${unattend['arch']} -->
<!-- ks:${unattend['ks']} -->
<installation mode="fresh" srtype="ext">
<bootloader>extlinux</bootloader>
<primary-disk>sda</primary-disk>
<hostname>${unattend['ip']}</hostname>
<keymap>us</keymap>
<root-password>password</root-password>
<source type="url">http://10.24.4.4/os/${unattend['os']}-$unattend['version']</source>
<name-server>114.114.114.114</name-server>
<name-server>114.114.115.115</name-server>
<name-server>8.8.8.8</name-server>
<time-config-method>ntp</time-config-method>
<script stage="filesystem-populated">http://10.24.4.84/pxe/ks/linux/os/${unattend['os']}/$unattend['version']/postrun.sh</script>
<ntp-server>ntp.fudan.edu.cn</ntp-server>
<admin-interface name="eth0" proto="dhcp" />
<timezone>Asia/Shanghai</timezone>
</installation>
